{% extends 'base.html' %}

{% block head %} 

{% endblock %}
<!--  -->
<!--  -->
{% block body %} 
<div class="content">
    <h1>PlaylistBattle</h1>
    <h2>Hello {{name}}</h2>
        <form action="/game/{{access_token}}/none/{{seed}}/0/0/0" method="POST">
            <label for="playlists">Choose One of your Spotify playlists</label>
            <select class="select-css" name="action" id="playlists">
                {% for pl in playlists %}
                <option value="{{pl.id}}" id="{{pl.name}}">{{pl.name}}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Go!" class="button">
        </form>
        <br>
        <form action="/sign_out">
            <button class="button">Sign Out</button>
        </form>
</div>
{% endblock %}